*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#game {
  width: 500px;
  height: 150px;
  border: 1px solid black;
  background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.55)),  url("img/bg.png");
  background-position:center;
  background-size: cover;
}

#character{
  width: 56px;
  height: 50px;
  position: relative;
  top:100px;
}

#block {
  width:50px;
  height: 20px;
  position: relative;
  top: 56px;
  left: 450px;
  animation:block 1s infinite linear;
}
.animate {
  animation: jump 500ms;
}
@keyframes jump {
 0%{ 
    top:100px;
  }
  30% {
    top:50px;
  }
  70%{
    top:50px;
  }
  100% {
    top: 100px;
  }
}
@keyframes block {
  from {
    left: 480px;
  }
  to {
    left:-10px;
  }
}

p {
  position: absolute;
  top:30%;
  left: 48%;
  text-align: center;
}